
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#content {
  position: fixed;
  .heading {
    width: 100%;
    background-color: black;
    color: white;

    h1{
      text-align: center;
      margin: 0;
    }
  }

  .description {

    h2{
      color: white;
      font-family: fantasy;
    }
  }
}

#menu, #about {
  position: absolute;
  float: left;
  color: white;
  font-size: 2em;
}

#about {
  left: 100px;
}

.paella-picture {
  width: 100%;
}


