body {
  margin: 0;
}

header {
  height: 32px;
}

.hide {
  display: none;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#content {
  color: white;
  width: 100%;
  position: absolute;
  background: url(http://seasoned.com/sites/default/files/paella.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;

  .heading {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 100;

    h1{
      text-align: center;
      margin: 0;
    }
  }

  section {
    position: relative;
  }

  .active {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #menu, #about-us {
    background-color: black;
  }

  .description {

    h2{
      color: white;
      font-family: fantasy;
    }
  }
}

#menu-nav-tab, #about-nav-tab, #home-nav-tab {
  position: absolute;
  float: left;
  color: white;
  font-size: 2em;

}

#menu-nav-tab:hover, #about-nav-tab:hover {
  background-color: grey;
}

#menu-nav-tab {
  left: 85px;
}

#about-nav-tab {
  left: 166px;
}

label[for=message]{
  vertical-align: top;
}

section {

  .business-hours h2, .traditional-sampler h1{
    margin-top: 0px;
  }
}

.paella-picture {
  width: 100%;
}


